@import url("http://fonts.googleapis.com/css?family=Cookie");

h1{
    color: #3d4449;
    font: normal 36px 'Cookie', cursive;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-align: center;
}

div .col-md-4{
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid black;
}

div .row{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div .col-md-12{
    text-align: center;
}
.active{
    background: dodgerblue;
    opacity: 0.15;
}

.game{
    border-radius: 5px;
    border: 3px solid #9fa3a6;
}
.game tr td{
    font: normal 36px 'Cookie', cursive;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid;
    height: 44px;
    width: 40px;
}

.game tr td:hover{
    background: dodgerblue;
    opacity: 0.15;
    text-shadow: 4px 5px 1px #989696;
}

.game tr:nth-child(3) td {
    border-bottom: 3px solid;
}
.game tr td:nth-child(3) {
    border-right: 3px solid;
}
.game tr:nth-child(6) td {
    border-bottom: 3px solid;
}
.game tr td:nth-child(6) {
    border-right: 3px solid;
}